---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	<body>
		<Header />
		<main class="px-4 pt-4 pb-8 flex">
			<article class="mx-auto">
				<div>
					<div>
						<div class="mb-4">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="text-3xl max-w-prose">{title}</h1>
						<hr class="my-4" />
					</div>
          <div class="prose-sm md:prose lg:prose-xl prose-pre:w-0 prose-pre:min-w-full dark:prose-invert">
            <slot />
          </div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
